<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" ></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container-fluid">
		<h2>Sistem Informasi Kepegawaian</h2>
		<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
		<br>
		<hr>
	
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h2>Lihat Data Pegawai berdasarkan NIP</h2>
					</div>
					<form th:action="@{/pegawai}" method="GET">
						<div class="card-body">
							<label for="dealerId">Masukkan Nomor Induk Pegawai</label>
							<input type="text" name="nip" class="form-control"/>
							<br>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h2>Lihat Detail Jabatan</h2>
					</div>
					<form th:action="@{/jabatan/view}" method="GET">
						<div class="card-body">
							<label for="jabatanId">Pilih Jabatan</label>
							<select class="form-control" name="jabatan">
							  <option  th:each="jabatan,iterationStatus : ${jabatanList}"
							  			th:value="${jabatan.id}" th:text="${jabatan.nama}">jabatan</option>
							 </select>
							<br>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>